profile=high-quality

vo=gpu-next
gpu-api=vulkan

{{ if eq .chezmoi.hostname "baldr" -}}
hwdec=vulkan

video-sync=display-resample
{{- else -}}
hwdec=vaapi
{{- end }}

interpolation
tscale=oversample

replaygain=album

screenshot-directory=~/Pictures/Screenshots/
