profile=gpu-hq

# All of my machines currently support Vulkan and VA-API, so there should be no issue
# with requesting mpv specifically use both APIs.
vo=gpu-next
gpu-api=vulkan
hwdec=vaapi

video-sync=display-resample

{{ if eq .chezmoi.hostname "baldr" }}
scale=ewa_lanczos
cscale=ewa_lanczos
{{ end }}

interpolation
tscale=oversample
