{{ if not (eq .chezmoi.hostname "fenrir") }}
profile=high-quality
{{ end }}

# All of my machines currently support Vulkan and Vulkan Video, so there should
# be no issues with enabling the use of both APIs.
vo=gpu-next
gpu-api=vulkan
hwdec=vulkan

video-sync=display-resample

interpolation
tscale=oversample

replaygain=album

screenshot-directory=~/Pictures/Screenshots/
