encryption = "age"

[update]
command = "./.update.sh"

[diff]
command = "sh"
args = [
  "-c",
  'difft --color=always {{ "{{ .Destination }} {{ .Target }}" }} | less'
]

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age19vkzqxsxfndz60kcg490tm50a2q4mh0j2m8ldrg7tks2chdppunsfpz2jp"
