# Enable the SSH agent for persisting logins.
AddKeysToAgent yes

# Enable faster ciphers (my computers have CPUs with AESNI instructions).
Ciphers aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

# Display a 'randomart' image of the host key fingerprint at login and for
# unknown host keys.
VisualHostKey yes

# Disable compression with gzip since it is relatively slow and thus becomes a
# bottleneck on fast connections, which I (thankfully) usually have. It can be
# manually enabled with the -C flag if required.
Compression no

{{ if eq .chezmoi.hostname "yggdrasill" -}}
Host *.sitehost.nz *.sitehost.co.nz *.shq.nz *.webslice.co.nz 192.168.7.* 192.168.12.*
  User sitehost
  # Ghostty's terminfo database entry isn't widespread yet, so manually set
  # $TERM to a more familiar value. See: https://ghostty.org/docs/help/terminfo
  SetEnv TERM=xterm-256color
  # We have lots of _old_ servers and unfortunately I can't upgrade them all
  # myself.
  PubkeyAcceptedAlgorithms +ssh-rsa
{{- end }}

Host aur.archlinux.org
  User aur

# Get around firewalls by connecting with SSH over HTTPS for connections to Git
# forges.
Host github.com
  User github
  Hostname ssh.github.com
  Port 443

Host gitlab.com
  User git
  Hostname altssh.gitlab.com
  Port 443
