[core]
  pager = delta

[user]
  name = Severen Redwood
{{- if not (eq .chezmoi.hostname "yggdrasill") }}
  email = sev@severen.dev
{{ else }}
  email = severen.redwood@sitehost.co.nz
{{- end }}

[init]
  defaultBranch = master

[push]
  default = upstream
  autoSetupRemote = true

[pull]
  rebase = true

[diff]
  colorMoved = default

[merge]
  autostash = true
  conflictStyle = diff3

[rerere]
  enabled = true

[rebase]
  autostash = true
  autosquash = true

[credential]
  helper = /usr/lib/git-core/git-credential-libsecret

{{ if eq .chezmoi.hostname "yggdrasill" -}}
[sendemail]
  smtpServer = extmx1.sitehost.co.nz
  smtpUser = severen.redwood@sitehost.co.nz
  smtpEncryption = ssl
  smtpAuth = PLAIN
{{- end }}

[alias]
  amend = commit --amend
  fixup = commit --fixup
  tree = log --graph --pretty=oneline --abbrev-commit --all

[interactive]
  diffFilter = delta --hyperlinks --color-only

[delta]
  navigate = true
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
  syntax-theme = Catppuccin Mocha

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
