"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Severen Redwood"
{{- if not (eq .chezmoi.hostname "yggdrasill") }}
email = "sev@severen.dev"
{{- else }}
email = "severen.redwood@sitehost.co.nz"
{{- end }}

[ui]
default-command = "log"

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[merge-tools.mergiraf]
merge-args = ["merge", "$base", "$left", "$right", "-o", "$output", "--fast"]
merge-conflict-exit-codes = [1]
conflict-marker-style = "git"

[git]
write-change-id-header = true
push-bookmark-prefix = "severen/push-"
private-commits = "private() | wip()"

[revset-aliases]
"wip()" = "description(glob:'wip:*')"
"private()" = "description(glob:'private:*')"
"undescribed()" = "description(exact:'')"

# All revisions which are permitted to be pushed to a remote.
"pushable()" = "mutable() ~ empty() ~ undescribed() ~ private() ~ wip()"

# Select the entire branch (and all sub-branches thereof if there are merges)
# that x belongs to.
"slice()" = "slice(@)"
"slice(x)" = "slice(x, 2)"
"slice(x, n)" = "ancestors(mutable() & (..x | x::), n)"

# The nearest ancestor revisions to x which have one or more local bookmarks.
"streams()" = "streams(@)"
"streams(x)" = "heads(::x & bookmarks())"

# Select all revisions descended from trunk() and authored by me, but not merged
# into trunk().
"open()" = "open(2)"
"open(n)" = "slice(trunk().. & mine(), n)"

[aliases]
d = ["diff"]
s = ["show"]
ll = ["log", "-T", "builtin_log_detailed"]

blame = ["file", "annotate"]

up = ["rebase", "--skip-emptied", "-d", "trunk()"]

# Note that if `@` descends from a merge commit of bookmarked branches,
# `pushable_heads()` will resolve to more than one revision and the command will
# fail. This is deliberate because there's no situation where I would actually
# want all bookmarks on the independent branches to be move to the _same_
# closest pushable on or after the merge.
tug = [
  "bookmark",
  "move",
  "--from",
  "streams()",
  "--to",
  "heads(::@ & pushable() ~ merges())"
]

streams = [
  "log",
  "--no-graph",
  "-r",
  "streams()",
  "-T",
  "bookmarks.map(|b| b ++ ' ')"
]

[template-aliases]
"in_branch(x)" = 'x.contained_in("immutable_heads()..bookmarks()")'

[templates]
log_node = """
if(self && !current_working_copy && !immutable && !conflict && in_branch(self),
  "◇",
  builtin_log_node
)
"""
