"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Severen Redwood"
{{- if not (eq .chezmoi.hostname "yggdrasill") }}
email = "sev@severen.dev"
{{- else }}
email = "severen.redwood@sitehost.co.nz"
{{- end }}

[ui]
default-command = "log"

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

[git]
write-change-id-header = true
push-bookmark-prefix = "severen/push-"
private-commits = "private() | wip()"

[revset-aliases]
"wip()" = "description(glob:'wip:*')"
"private()" = "description(glob:'private:*')"

# Select the entire branch (and all sub-branches thereof if there are merges)
# that x belongs to.
"slice()" = "slice(@)"
"slice(x)" = "slice(x, 2)"
"slice(x, n)" = "ancestors(mutable() & (..x | x::), n)"

# Select the closest bookmarks to x.
"streams()" = "streams(@)"
"streams(x)" = "heads(::x & bookmarks())"

# Select all revisions descended from trunk() and authored by me, but not merged
# into trunk().
"open()" = "open(2)"
"open(n)" = "slice(trunk().. & mine(), n)"

[aliases]
up = ["rebase", "--skip-emptied", "-d", "trunk()"]
# Note that if `@-` descends from a merge commit, the last bookmark on each
# contributing branch will be moved to `@-`.
tug = ["bookmark", "move", "--from", "streams()", "--to", "@-"]
streams = [
  "log",
  "--no-graph",
  "-r",
  "streams()",
  "-T",
  "bookmarks.map(|b| b ++ ' ')"
]
blame = ["file", "annotate"]

[template-aliases]
"in_branch(x)" = 'x.contained_in("immutable_heads()..bookmarks()")'

[templates]
log_node = """
if(self && !current_working_copy && !immutable && !conflict && in_branch(self),
  "◇",
  builtin_log_node
)
"""
